<html lang="en">
  <head>
    <meta name="google-signin-scope" content="email">
    <meta name="google-signin-client_id" content="516039612046-ugnjm36pasoqr6v63kjf8on71b23s7rs.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="jquery.min.js"></script>
    <script src="controllers/signup_controller.js"></script>
  </head>
  <body>

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

    <div id="signupregion">
    <!--   <form>
        Select a user name: <input type="text" ng-model="ctrl.user.username"/>
        Select a password: <input type="password" ng-model="ctrl.user.password"/>
        Reenter selected password: <input type="password" ng-model="ctrl.repeatpassword"/>
        <input type="submit" value="Submit">
      </form> -->
      Logged into your account
    </div>



  <div id="nonfrisch">
    Log out of any non-Frisch Google accounts and try again.
  </div>

  </body>
</html>

